{{>layout/header}}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">게시판</h1>
    </div>

    <div class="container">
        <table class="board_list">
            <colgroup>
                <col width="6%"/>
                <col width="15%"/>
                <col width="8%"/>
                <col width="15%"/>
            </colgroup>
            <thead>
            <tr>
                <th scope="col">글번호</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">작성일</th>
            </tr>
            </thead>
            {{#postList}}
            <tbody>
            <tr>
                    <td id="postSeq" name="postSeq">{{postSeq}}</td>
                    <td onclick="location.href='post/detail?no={{postSeq}}'">{{title}}</td>
                    <td>{{writeId}}</td>
                    <td>{{writeDt}}</td>
            </tr>
            {{/postList}}
            {{^postList}}
            <tr>
                <td colspan="4">조회된 결과가 없습니다.</td>
            </tr>
            {{/postList}}
            </tbody>
        </table>
        {{#userVO}}
            {{#isReleased}}
                <a href="/post/add" class="btn">글 쓰기</a>
            {{/isReleased}}
            {{^isReleased}}
            {{/isReleased}}
        {{/userVO}}
        <div class="col-sm-12 col-md-12">
            <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                <ul class="pagination">
            {{#paging.prev}}
                <li class="paginate_button page-item previous" id="dataTable_previous">
                    <a href="/post?pno={{paging.prevPage}}" aria-controls="dataTable" tabindex="0" class="page-link">Previous</a>
                </li>
            {{/paging.prev}}

            {{#pageList}}
                {{#equalsPage}}
                    <li class="paginate_button page-item active">
                        <a aria-controls="dataTable" tabindex="0" class="page-link">{{page}}</a>
                    </li>
                {{/equalsPage}}
                {{^equalsPage}}
                    <li class="paginate_button page-item ">
                        <a aria-controls="dataTable" tabindex="0" class="page-link" href="/post?pno={{page}}">{{page}}</a>
                    </li>
                {{/equalsPage}}
            {{/pageList}}

            {{#paging.next}}
                <li class="paginate_button page-item next" id="dataTable_next">
                    <a href="/post?pno={{paging.nextPage}}" aria-controls="dataTable" tabindex="0" class="page-link">next</a>
                </li>
            {{/paging.next}}
            <br>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
{{>layout/footer}}