{{>layout/header}}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">게시판</h1>
    </div>

    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" style="padding: 1rem"
    id="searchFoam" name="searchFoam" method="get" action="/post">
        <div class="border-left-primary container" style="float: left;">
            <div style="float: left; transform: translate(0, 20%)">
                <select name="type">
                    <option value="">검색 유형 선택</option>
                    <option value="title">제목</option>
                    <option value="writeId">작성자</option>
                </select>
            </div>
            <div class="input-group" style="float: left; padding-left: 10px">
                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2"
                name="keyword">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>

    <div class="container">
        <table class="board_list">
            <colgroup>
                <col width="6%"/>
                <col width="15%"/>
                <col width="5%"/>
                <col width="8%"/>
                <col width="15%"/>
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">글번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">조회수</th>
                    <th scope="col">작성자</th>
                    <th scope="col">작성일</th>
                </tr>
            </thead>
            {{#postList}}
            <tbody>
                <tr>
                    <td id="postSeq" name="postSeq">{{postSeq}}</td>
                    <td onclick="location.href='post/detail?no={{postSeq}}'">{{title}}</td>
                    <td>{{views}}</td>
                    <td>{{writeId}}</td>
                    <td>{{writeDt}}</td>
                </tr>
                {{/postList}}
                {{^postList}}
                <tr>
                <td colspan="4">조회된 결과가 없습니다.</td>
                </tr>
                {{/postList}}
            </tbody>
        </table>
        {{#userVO}}
            {{#isReleased}}
                <a href="/post/add" class="btn">글 쓰기</a>
            {{/isReleased}}
            {{^isReleased}}
            {{/isReleased}}
        {{/userVO}}
        <div class="col-sm-12 col-md-12" style="padding: 1rem">
            <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                <ul class="pagination">
            {{#paging.prev}}
                <li class="paginate_button page-item previous" id="dataTable_previous">
                    <a href="/post?pno={{paging.prevPage}}" aria-controls="dataTable" tabindex="0" class="page-link">Previous</a>
                </li>
            {{/paging.prev}}

            {{#pageList}}
                {{#equalsPage}}
                    <li class="paginate_button page-item active">
                        <a aria-controls="dataTable" tabindex="0" class="page-link">{{page}}</a>
                    </li>
                {{/equalsPage}}
                {{^equalsPage}}
                    {{#type}}
                        {{#keyword}}
                    <li class="paginate_button page-item ">
                        <a aria-controls="dataTable" tabindex="0" class="page-link" href="/post?pno={{page}}&type={{type}}&keyword={{keyword}}">{{page}}</a>
                    </li>
                        {{/keyword}}
                    {{/type}}
                    {{^type}}
                    <li class="paginate_button page-item ">
                        <a aria-controls="dataTable" tabindex="0" class="page-link" href="/post?pno={{page}}">{{page}}</a>
                    </li>
                    {{/type}}
                {{/equalsPage}}
            {{/pageList}}

            {{#paging.next}}
                <li class="paginate_button page-item next" id="dataTable_next">
                    <a href="/post?pno={{paging.nextPage}}" aria-controls="dataTable" tabindex="0" class="page-link">next</a>
                </li>
            {{/paging.next}}
            <br>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
{{>layout/footer}}