{{>layout/header}}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">게시글 상세보기</h1>
    </div>
    <div class="container">
            <table class="board_detail">
                <tr class="border-bottom">
                    <td>제목 : </td>
                    <td>{{postVO.title}}</td>
                    <td>작성자 : {{postVO.writeId}}</td>
                    <td>작성자 : {{postVO.views}}</td>
                </tr>
                <tr>
                    <td class="border-bottom">내용 : </td>
                    <td colspan="2">
                        {{{postVO.content}}}
                    </td>
                </tr>
            </table>

        <!-- 좋아요 -->
        <div class="col mr-2">

            <!-- 수정 필요 -->
            <span class="mr-1" id="">
                {{#postVO}}
                {{#isLikeUser}}
                    <a href="#" class="btn btn-info btn-circle" id="postLikeOffBtn"
                       onclick="return postLike({{postSeq}})">
                                <i class="fas fa-thumbs-up"></i>
                    </a>
                {{/isLikeUser}}
                {{^isLikeUser}}
                    <a href="#" class="btn btn-block btn-circle" id="postLikeOnBtn"
                           style="border-color: #858796" onclick="return postLike({{postSeq}})">
                                <i class="fas fa-regular fa-thumbs-up"></i>
                    </a>
                {{/isLikeUser}}
                {{/postVO}}
                <span class="text-xs" id="likeCount">22</span>
            </span>
            <span class="mr-1">좋아요</span>
        </div>

        {{#write}}
            <form id="frm" name="frm" method="get" action="/post/modify">
                <input type="hidden" name="no" value="{{postVO.postSeq}}">
                <input type="submit" id="submit" value="수정" class="btn">
            </form>
            <form id="frm" name="frm" method="post" action="/post">
                <input type="hidden" name="_method" value="patch">
                <input type="hidden" name="no" value="{{postVO.postSeq}}">
                <input type="submit" id="submit" value="삭제" class="btn">
            </form>
        {{/write}}
        <input type="button" onclick="history.back()" value="이전" class="btn">
        <form method="post" action="/comment">
            <table class="board_detail">
                <tr>
                    <td>댓글</td>
                    <td><input type="text" id="content" name="content"></td>
                    <input type="hidden" name="postSeq" value="{{postVO.postSeq}}">
                    <input type="hidden" name="commentSeq" value=0>
                    <input type="hidden" name="commentDepth" value=0>
                </tr>
            </table>
            <input type="submit" id="submit" value="저장" class="btn">
        </form>

        {{#commentList}}
            <div class="col-xl-3">
                <div class="card border-left h-10 py-2" id="parentComment-{{commentSeq}}">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="border-bottom mb-1">
                                    <div class="text-xl-left font-weight-bold text-primary text-uppercase mb-1" style="float: left">
                                        {{commentWriteId}}
                                    </div>
                                    <div class="text-xs text-right font-weight-bold text-uppercase mb-1">
                                        {{commentWriteDt}}
                                    </div>
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800 mt-2" style="float: left">
                                    <input type="hidden" id="commentContent-{{commentSeq}}" value="{{content}}">
                                    {{content}}
                                </div>
                                {{#isWrite}}
                                <div class="h5 mb-0 font-weight-bold text-gray-800 text-xl-left" style="float: right">
                                <nav class="navbar mb-0 text-right" style="padding: 0rem 0.5rem;">
                                            <div class="navbar text-xs text-right font-weight-bold text-uppercase mb-0" data-toggle="dropdown">
                                                <i class="fas fa-solid fa-ellipsis-h -align-center mt-2"></i>
                                            </div>
                                            <div class="dropdown-menu dropdown-menu-right animated--fade-in" aria-labelledby="navbarDropdown">
                                                <a class="dropdown-item" onclick="return modifyComment({{commentSeq}}, {{postSeq}}, '{{content}}')">수정</a>
                                                <form class="mr-1" method="post" action="/comment">
                                                    <input type="hidden" name="_method" value="patch">
                                                    <input type="hidden" name="commentSeq" value="{{commentSeq}}">
                                                    <input type="hidden" name="postSeq" value="{{postVO.postSeq}}">
                                                <button class="dropdown-item" type="submit">삭제</button>
                                                </form>
                                            </div>
                                </nav>
                                </div>
                                {{/isWrite}}


                            </div>
                        </div>
                    </div>
                    <div class="col mr-2">
                        <!-- 좋아요 -->
                        <span class="mr-1">
                            <i class="fas fa-thumbs-up -align-center mt-2"></i>
                            <span class="text-xs">999</span>
                        </span>
                        <span class="mr-1" id="reply-{{commentSeq}}" onclick="return reply({{commentSeq}})">답글</span>
                    </div>
                    {{#count}}
                    <div class="col mr-2">
                        <span class="mr-1 text-primary" id="onReplyComment-{{commentSeq}}" onclick="return onReplyComment({{commentSeq}})">
                            <i class="fas fa-solid fa-caret-down mr-1"></i>답글 보기({{replyCount}})
                        </span>
                        <span class="mr-1 text-primary" id="offReplyComment-{{commentSeq}}" onclick="return offReplyComment({{commentSeq}})" style="display: none">
                            <i class="fas fa-solid fa-caret-up mr-1"></i>답글 닫기({{replyCount}})
                        </span>
                    </div>
                    {{/count}}

                </div>


                <div class="col-xl-3" id="modifyDiv-{{commentSeq}}" style="display: none"></div>


                <div class="card border-left h-10 py-2" id="parentCommentMod-{{commentSeq}}" style="display: none">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    <form method="post" action="/">
                                        <input type="hidden" name="_method" value="put">
                                        <input type="text" id="content" name="content" value="{{content}}">
                                        <input type="submit" id="submit" value="저장" class="btn">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
                <div class="col-xl-3"  id="replyCommentPost-{{commentSeq}}" style="display: none">
                    <form method="post" action="/comment">
                        <table class="board_detail">
                            <tr>
                                <td>댓글</td>
                                <td><input type="text" id="content" name="content"></td>
                                <input type="hidden" name="postSeq" value="{{postVO.postSeq}}">
                                <input type="hidden" name="commentSeq" value="{{commentSeq}}">
                                <input type="hidden" name="commentDepth" value=1>
                            </tr>
                        </table>
                        <input type="submit" id="submit" value="저장" class="btn">
                    </form>
                </div>
            <div id="replyDiv-{{commentSeq}}" style="display: none"></div>
        {{/commentList}}
    </div>
</div>
<script src="/js/comment.js"></script>
<script type="text/javascript">
    // 수정 필요 on/off 따로 작성
    function postLike(postSeq){
        const postLikeOnBtn = document.getElementById('postLikeOnBtn');
        const postLikeOffBtn = document.getElementById('postLikeOffBtn');
        const likeCount = document.getElementById('likeCount');

        if (postLikeOffBtn.style.display == "none"){
            postLikeOffBtn.style.display = ""
            postLikeOnBtn.style.display = "none"
            likeCount.innerText = Number(likeCount.innerText) + 1;

            $.ajax({
                url:"/api/postLikeInc",
                type:"post",
                data:{"postSeq":postSeq},
                success:function(){

                },
                error: function (request, status, error) {
                    alert("code: " + request.status + "\n" + "error: " + error);
                }
            })
        } else {
            postLikeOffBtn.style.display = "none"
            postLikeOnBtn.style.display = ""
            likeCount.innerText = Number(likeCount.innerText) - 1;

            $.ajax({
                url:"/api/postLikeDec",
                type:"delete",
                data:{"postSeq":postSeq},
                success:function(){

                },
                error: function (request, status, error) {
                    alert("code: " + request.status + "\n" + "error: " + error);
                }
            })
        }

    };
</script>
<!-- /.container-fluid -->
{{>layout/footer}}