<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.blog.mapper.CategoryMapper">
    <!-- 하위 카테고리 리스트 -->
    <select id="getChildCategory" parameterType="map" resultType="CategoryVO">
        SELECT
            CATESEQ,
            CATECODE,
            CATENAME,
            CATEDEPTH,
            CATEPARENT,
            ISDELETED
        FROM CATEGORY
        WHERE ISDELETED = 0
          AND CATEPARENT = #{cateParent}
    </select>
</mapper>