<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.blog.mapper.CommentMapper">
    <!-- 댓글 등록 -->
    <insert id="commentAddProc" parameterType="CommentVo">
        INSERT
        INTO
            COMMENT
        (
            POSTSEQ,
            CONTENT,
            COMMENTWRITEID,
            COMMENTWRITEDT
        )
        VALUES
            (
                #{postSeq},
                #{content},
                #{commentWriteId},
                SYSDATE()
            )
    </insert>
    <!-- 대댓글 등록 -->
    <insert id="replyCommentAddProc" parameterType="CommentVo">
        INSERT
        INTO
            COMMENT
        (
            POSTSEQ,
            CONTENT,
            COMMENTWRITEID,
            COMMENTWRITEDT,
            COMMENTDEPTH,
            COMMENTGROUP
        )
        VALUES
            (
                #{postSeq},
                #{content},
                #{commentWriteId},
                SYSDATE(),
                1,
                #{commentGroup}
            )
    </insert>
    <!-- 답글 개수 증가 -->
    <update id="replyCount" parameterType="int">
        UPDATE
            COMMENT
        SET
            REPLYCOUNT = REPLYCOUNT + 1
        WHERE
            COMMENTSEQ = #{commentSeq}
    </update>
    <select id="replyCountTotal" parameterType="int" resultType="int">
        SELECT
            REPLYCOUNT
        FROM COMMENT
        WHERE COMMENTSEQ = #{commentSeq}
    </select>
    <!-- 댓글 리스트 -->
    <select id="getCommentList" parameterType="int" resultType="CommentVO">
        SELECT
            COMMENTSEQ,
            POSTSEQ,
            CONTENT,
            LIKES,
            COMMENTDEPTH,
            REPLYCOUNT,
            COMMENTWRITEID,
            COMMENTWRITEDT,
            COMMENTCHGID,
            COMMENTCHGDT,
            ISDELETED
        FROM COMMENT
        WHERE POSTSEQ = #{postSeq}
        AND ISDELETED = 0
        AND COMMENTDEPTH = 0
        ORDER BY COMMENTSEQ
    </select>
    <!-- 대댓글 리스트 -->
    <select id="getReplyList" parameterType="int" resultType="CommentVO">
        SELECT
            COMMENTSEQ,
            POSTSEQ,
            CONTENT,
            LIKES,
            COMMENTDEPTH,
            COMMENTGROUP,
            COMMENTWRITEID,
            COMMENTWRITEDT,
            COMMENTCHGID,
            COMMENTCHGDT,
            ISDELETED
        FROM COMMENT
        WHERE COMMENTGROUP = #{commentSeq}
          AND ISDELETED = 0
        ORDER BY COMMENTSEQ
    </select>
    <!-- 마이페이지 댓글 리스트 -->
    <select id="getMypageComment" resultType="CommentVO">
        SELECT
            COMMENTSEQ,
            POSTSEQ,
            (SELECT TITLE FROM POST WHERE POSTSEQ = A.POSTSEQ) AS POSTTITLE,
            CONTENT,
            LIKES,
            COMMENTDEPTH,
            COMMENTGROUP,
            COMMENTWRITEID,
            COMMENTWRITEDT,
            COMMENTCHGID,
            COMMENTCHGDT,
            ISDELETED
        FROM COMMENT AS A
        WHERE ISDELETED = 0
        <choose>
            <when test="mypageType == 'writeComment'">
                AND COMMENTWRITEID = #{userId}
            </when>
            <when test="mypageType == 'likeComment'">
                <choose>
                    <when test="!likeInfo.isEmpty()">
                        AND COMMENTSEQ IN
                        <foreach collection="likeInfo" item="item" open="(" close=")" separator=",">
                            #{item.commentSeq}
                        </foreach>
                    </when>
                    <otherwise>
                        AND COMMENTSEQ IN (0)
                    </otherwise>
                </choose>
            </when>
            <otherwise>
            </otherwise>
        </choose>
        ORDER BY COMMENTSEQ
        <choose>
            <when test="startlist != null">
                LIMIT #{startlist}, #{listsize}
            </when>
            <otherwise>
                LIMIT 0, 10
            </otherwise>
        </choose>
    </select>
    <!-- 마이페이지 댓글 수 조회 -->
    <select id="commentCount" resultType="integer">
        SELECT COUNT(0)
        FROM COMMENT
        WHERE ISDELETED = 0
        <choose>
            <when test="mypageType == 'writeComment'">
                AND COMMENTWRITEID = #{userId}
            </when>
            <when test="mypageType == 'likeComment'  and !likeInfo.isEmpty()">
                AND COMMENTSEQ IN
                <foreach collection="likeInfo" item="item" open="(" close=")" separator=",">
                    #{item.commentSeq}
                </foreach>
            </when>
            <otherwise>
            </otherwise>
        </choose>
    </select>
    <!-- 댓글 수정 -->
    <update id="commentModProc" parameterType="CommentVO">
        UPDATE
            COMMENT
        SET
            CONTENT = #{content},
            COMMENTCHGID = #{commentChgId},
            COMMENTCHGDT = SYSDATE()
        WHERE
            COMMENTSEQ = #{commentSeq}
    </update>
    <!-- 댓글 삭제 -->
    <update id="commentDelete" parameterType="int">
        UPDATE
            COMMENT
        SET
            ISDELETED = 1
        WHERE
            COMMENTSEQ = #{commentSeq}
    </update>
    <!-- 댓글 삭제 -->
    <update id="commentDelete2" parameterType="int">
        UPDATE
            COMMENT
        SET
            ISDELETED = 1
        WHERE
            POSTSEQ = #{postSeq}
    </update>
    <!-- 댓글 삭제 시 모댓글 replyComment 개수 -1 -->
    <update id="countDelete" parameterType="int">
        UPDATE
            COMMENT
        SET
            REPLYCOUNT = REPLYCOUNT -1
        WHERE
            COMMENTSEQ = (SELECT COMMENTGROUP FROM COMMENT WHERE COMMENTSEQ = #{commentSeq})
    </update>
    <!-- 좋아요 up -->
    <update id="likeInc" parameterType="map">
        UPDATE
            COMMENT
        SET
            LIKES = LIKES + 1
        WHERE
            COMMENTSEQ = #{commentSeq}
    </update>
    <!-- 좋아요 down -->
    <update id="likeDec" parameterType="map">
        UPDATE
            COMMENT
        SET
            LIKES = LIKES - 1
        WHERE
            COMMENTSEQ = #{commentSeq}
    </update>
    <!-- 답글인지 확인 -->
    <select id="replyConfirm" resultType="int">
        SELECT
            IF(COMMENTGROUP IS NULL, #{commentSeq}, (SELECT COMMENTGROUP FROM COMMENT WHERE COMMENTSEQ = #{commentSeq}))
        FROM COMMENT
        WHERE COMMENTSEQ = #{commentSeq}
          AND ISDELETED = 0
    </select>
</mapper>