<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.blog.mapper.LikeMapper">
    <!-- 게시글 좋아요 정보 추가 -->
    <insert id="postLikeInc" parameterType="int">
        INSERT
        INTO
            LIKEINFO
        (
            USERSEQ,
            POSTSEQ,
            LIKEDT
        )
        VALUES
            (
                #{userSeq},
                #{postSeq},
                SYSDATE()
            )
    </insert>
    <!-- 게시글 좋아요 삭제 -->
    <delete id="postLikeDec" parameterType="int">
        DELETE
        FROM LIKEINFO
        WHERE USERSEQ = #{userSeq}
        AND POSTSEQ = #{postSeq}
    </delete>
    <!-- 게시글 좋아요 확인 -->
    <select id="postLikeCheck" parameterType="int" resultType="boolean">
        SELECT IF(COUNT(*) = 1, 1, 0)
        FROM LIKEINFO
        WHERE USERSEQ = #{userSeq}
          AND POSTSEQ = #{postSeq}
    </select>
    <!-- 댓글 좋아요 정보 추가 -->
    <insert id="commentLikeInc" parameterType="int">
        INSERT
        INTO
            LIKEINFO
        (
            USERSEQ,
            COMMENTSEQ,
            LIKEDT
        )
        VALUES
            (
                #{userSeq},
                #{commentSeq},
                SYSDATE()
            )
    </insert>
    <!-- 댓글 좋아요 삭제 -->
    <delete id="commentLikeDec" parameterType="int">
        DELETE
        FROM LIKEINFO
        WHERE USERSEQ = #{userSeq}
          AND COMMENTSEQ = #{commentSeq}
    </delete>
    <!-- 댓글 좋아요 확인 -->
    <select id="commentLikeCheck" parameterType="int" resultType="boolean">
        SELECT IF(COUNT(*) = 1, 1, 0)
        FROM LIKEINFO
        WHERE USERSEQ = #{userSeq}
          AND COMMENTSEQ = #{commentSeq}
    </select>
    <!-- 회원별 좋아요 리스트 -->
    <select id="getLikeInfo" resultType="LikeVO">
        SELECT
            LIKESEQ,
            USERSEQ,
            POSTSEQ,
            COMMENTSEQ,
            LIKEDT
        FROM LIKEINFO
        WHERE POSTSEQ IS NOT NULL
            AND USERSEQ = #{userSeq}
    </select>
</mapper>