<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.blog.mapper.PostMapper">
    <!-- 게시글 등록 -->
    <insert id="postAddProc" parameterType="PostVo" useGeneratedKeys="true" keyColumn="postSeq" keyProperty="postSeq">
        INSERT
        INTO
            POST
        (
            TITLE,
            CONTENT,
            WRITEID,
            WRITEDT
        )
        VALUES
            (
                #{title},
                #{content},
                #{writeId},
                SYSDATE()
            )
    </insert>
    <!-- 게시글 리스트 가져오기 -->
    <select id="getPostList" parameterType="map" resultType="PostVO">
        SELECT
            POSTSEQ,
            TITLE,
            CONTENT,
            VIEWS,
            LIKES,
            WRITEID,
            WRITEDT,
            CHGID,
            CHGDT,
            ISDELETED
        FROM POST
        WHERE ISDELETED = 0
        ORDER BY POSTSEQ DESC
        LIMIT #{startlist}, #{listsize}
    </select>
    <!-- 검색된 게시글 리스트 가져오기 -->
    <select id="getSearchList" parameterType="map" resultType="PostVO">
        SELECT
            POSTSEQ,
            TITLE,
            CONTENT,
            VIEWS,
            LIKES,
            WRITEID,
            WRITEDT,
            CHGID,
            CHGDT,
            ISDELETED
        FROM POST
        WHERE ${type} LIKE '%${keyword}%'
            AND ISDELETED = 0
        ORDER BY POSTSEQ DESC
            LIMIT #{startlist}, #{listsize}
    </select>
    <!-- 게시글 가져오기 -->
    <select id="postDetail" parameterType="int" resultType="PostVO">
        SELECT
            POSTSEQ,
            TITLE,
            CONTENT,
            VIEWS,
            LIKES,
            WRITEID,
            WRITEDT,
            CHGID,
            CHGDT,
            ISDELETED
        FROM POST
        WHERE POSTSEQ = #{postSeq}
    </select>
    <!-- 총 게시글 수 조회 -->
    <select id="postCount" resultType="integer">
        SELECT COUNT(0)
        FROM POST
        WHERE ISDELETED = 0
    </select>
    <!-- 검색된 게시글 수 조회 -->
    <select id="searchCount" resultType="integer">
        SELECT COUNT(0)
        FROM POST
        WHERE ${type} LIKE '%${keyword}%'
          AND ISDELETED = 0
    </select>
    <!-- 조회수 증가 -->
    <update id="viewIncrease" parameterType="map">
        UPDATE
            POST
        SET
            VIEWS = VIEWS + 1
        WHERE
            POSTSEQ = #{postSeq}
    </update>
    <!-- 게시글 삭제 -->
    <update id="postDelete" parameterType="map">
        UPDATE
            POST
        SET
            ISDELETED = 1
        WHERE
            POSTSEQ = #{postSeq}
    </update>
    <!-- 게시글 수정 -->
    <update id="postModProc" parameterType="PostVO">
        UPDATE
            POST
        SET
            TITLE = #{title},
            CONTENT = #{content},
            CHGID =#{chgId},
            CHGDT = SYSDATE()
        WHERE
            POSTSEQ = #{postSeq}
    </update>
    <!-- 좋아요 up -->
    <update id="likeInc" parameterType="map">
        UPDATE
            POST
        SET
            LIKES = LIKES + 1
        WHERE
            POSTSEQ = #{postSeq}
    </update>
    <!-- 좋아요 down -->
    <update id="likeDec" parameterType="map">
        UPDATE
            POST
        SET
            LIKES = LIKES - 1
        WHERE
            POSTSEQ = #{postSeq}
    </update>
</mapper>