<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.blog.mapper.UserMapper">
    <!-- 회원가입 -->
    <insert id="userRegProc" parameterType="UserVO">
        INSERT
        INTO USER
            (
            USERID,
            PASSWORD,
            USERNAME,
            USERREG_ID,
            USERREG_DT
            )
        VALUES
            (
             #{user_id},
             #{password},
             #{user_name},
             #{user_id},
             SYSDATE()
            )
    </insert>
</mapper>