<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="/user/login" method="post">
    <input type="text" name="userId" placeholder="ID" autofocus/>
    <br/>
    <input type="password" name="password" placeholder="password"/>
    <button type="submit">Login</button>
</form>
<br>
<input type="button" onclick="location.href='/user/regist'" id="submit" value="회원가입" class="btn">
<input type="button" onclick="location.href=''" id="submit" value="아이디 찾기" class="btn">
<input type="button" onclick="location.href=''" id="submit" value="비밀번호 찾기" class="btn">
</body>
</html>