{{>layout/header}}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">회원정보 수정</h1>
    </div>

    <h2>회원정보 수정</h2>
    <form id="frm" name="frm" method="post" action="/user">
        {{#userVO}}
            <input type="hidden" name="_method" value="put">
            <table>
                <tr>
                    <td>NAME</td>
                    <td><input type="text" id="userName" name="userName" value="{{userName}}"></td>
                </tr>
            </table>
            <input type="hidden" name="userSeq" value="{{userSeq}}">
            <input type="submit" id="userInfoChg" value="수정" class="btn">
        {{/userVO}}
    </form>
    <h4>비밀번호 변경</h4>
    <form method="post" action="/user/password">
        <input type="hidden" name="_method" value="put">
        <table>
            <tr>
                <td>현재 비밀번호</td>
                <td><input type="password" id="currentPassword" name="currentPassword" value="" placeholder="현재 비밀번호 입력"></td>
            </tr>
            <tr>
                <td>새 비밀번호</td>
                <td><input type="password" id="newPassword" name="newPassword" value="" placeholder="새 비밀번호 입력"></td>
            </tr>
            <tr>
                <td>새 비밀번호 확인</td>
                <td><input type="password" id="passwordConfirm" name="passwordConfirm" value="" placeholder="새 비밀번호 확인"></td>
            </tr>
        </table>
        <input type="submit" id="passwordChg" value="비밀번호 변경" class="btn">
    </form>
    <input type="button" onclick="history.back()" id="submit" value="취소" class="btn">
</div>

<script src="/js/modify.js"></script>
{{>layout/footer}}