{{>layout/header}}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">회원정보</h1>
    </div>
{{#userVO}}
    <a>seq : {{userSeq}}</a><br>
    <a>id : {{userId}}</a><br>
    <a>name : {{userName}}</a><br>
    <a>role : {{role}}</a><br>
    <input type="button" onclick="location.href='/user/modify'" id="submit" value="회원정보 수정" class="btn">
    <input type="button" onclick="location.href='/index'" id="submit" value="취소" class="btn">
{{/userVO}}
</div>
<!-- /.container-fluid -->
{{>layout/footer}}