{{>layout/header}}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">메인페이지</h1>
    </div>
{{#userVO}}
    {{#isReleased}}
    {{/isReleased}}
    {{^isReleased}}
        <a href="/user">로그인</a>
    {{/isReleased}}
{{/userVO}}
</div>
<!-- /.container-fluid -->
{{>layout/footer}}