<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{{#userVO}}
    {{#isReleased}}
        <a>seq : {{userSeq}}</a>
        <a>id : {{userId}}</a>
        <a>name : {{userName}}</a>
        <a>role : {{role}}</a>
        <a href="/post?pno=1">게시판</a>
        <a href="/user/modify">회원정보 수정</a>
        <a href="/user/logout">로그아웃</a>
    {{/isReleased}}
    {{^isReleased}}
        <a href="/post?pno=1">게시판</a>
        <a href="/user">로그인</a>
    {{/isReleased}}
{{/userVO}}
</body>
</html>